body {
  background-color: #f0f0f0;
}

.main {
  margin-top: 100px;
  font-family: 'Times New Roman', Times, serif;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px;
  padding-left: 50px;
  padding-right: 50px;
}

@media (max-width: 1800px) {
  .products-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1400px) {
  .products-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1200px) {
  .products-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 700px) {
  .products-grid {
    grid-template-columns: 1fr;
  }
}

.product-container {
  padding: 10px;

  border: 1px solid rgb(231, 231, 231);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;

  background-color: white;
  color: black;
  display: flex;
  flex-direction: row;
  gap: 15px;
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;
}

.product-container:hover {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
}

.product-image-container {
  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
  height: 180px;
  width: 150px;
}

.product-image {
  width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.product-details {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: flex-start;
}

.product-name {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 20px;
}

.product-set {
  color: rgb(105, 105, 105);
  margin-bottom: 10px;
  font-size: 14px;
}

.product-list-count {
  color: rgb(48, 48, 48);
  margin-bottom: 2px;
  font-size: 14px;
}

.product-price {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 10px;
}

.product-market-price {
  color: green;
  font-weight: bold;
}

.product-market-price strong {
  color: black;
}