.navbar {
  background-color: rgb(19, 25, 33);
  color: white;
  padding-left: 40px;
  padding-right: 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
}

.navbar-left-section {
  width: 180px;
  margin-right: 5px;
}

@media (max-width: 800px) {
  .amazon-header-left-section {
    width: unset;
  }
}

.header-link {
  display: inline-block;
  padding: 4px;
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  border: 1px solid rgba(0, 0, 0, 0);
}

.header-link:hover {
  border: 1px solid white;
}

.logo {
  width: 100px;
  margin-top: 5px;
}

.navbar-middle-section {
  flex: 1;
  max-width: 850px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  min-width: 120px;
}

.search-bar {
  flex: 1;
  width: 0;
  font-size: 16px;
  height: 38px;
  padding-left: 15px;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  color: gray;
}

.search-button {
  background-color: white;
  border: none;
  width: 45px;
  height: 40px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  flex-shrink: 0;
  border-left: 1px solid black;
}

.search-icon {
  height: 22px;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 3px;
  cursor: pointer;
}

.navbar-right-section {
  width: 300px;
  flex-shrink: 0;
  display: flex;
  justify-content: end;
}

.order-link {
  color: white;
  margin: 0 10px;
}

.cart-link {
  color: white;
  display: flex;
  align-items: center;
  position: relative;
  width: 40px;
}

.cart-quantity {
  font-size: 16px;
  font-weight: 700;

  position: absolute;
  top: 4px;
  left: 22px;

  width: 26px;
  text-align: center;
}